// Header
.ez-header{

   
    height: 80px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   

    &__nav{
        font-size: 13px;
        font-weight: 400;
        a{
            margin-right: 45px;
            color: #d4d3d3;

            &:hover{
                color: $text;
                text-decoration: none;
            }
        }

        .active{
            color: $text;
        }
    }

    &_black{
        background-color: #2a292b;

        .ez-header__nav{
            .active{
                color: white;
            }
            a{
                color: rgba(white, 0.8);

            &:hover{
                color: rgba(white, 0.6)
            }
        }
        }

        .ez-header__right a{
            color: #6c6b6b;
        }
    }

    &__right{
        display: flex;
        font-size: 22px;
        
        a{
            color: $text;
            margin-right: 25px;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                text-decoration: none;
            }

        }
    }

    .icon-cart{
        position: relative;
        &:after{
            content: "7";
            position: absolute;
            top: -8px;
            right: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #000;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background-color: #a054c6;
            color: white;
            font-size: 10px;
            font-weight: 700;
            line-height: 8px;
        }
    }
}

// Header