// main
@import 'settings';
@import 'libs';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $OS;
  color: $text;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// import files of blocks [Basic]d
@import "../../blocks/section/section";

// Index
@import "../../blocks/header/header";
@import "../../blocks/slider/slider";
@import "../../blocks/board/board";
@import "../../blocks/popular/popular";
@import "../../blocks/callback/callback";
@import "../../blocks/new/new";
@import "../../blocks/item/item";








// Footer :)
@import "../../blocks/footer/footer";



// importing media queries
@import "media";
