// main
@import 'settings';
@import 'libs';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $OS !important;
  color: $text;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// import files of blocks [Basic]d
@import "../../blocks/section/section";

// Index
@import "../../blocks/header/header";
@import "../../blocks/slider/slider";
@import "../../blocks/board/board";
@import "../../blocks/popular/popular";
@import "../../blocks/callback/callback";
@import "../../blocks/new/new";
@import "../../blocks/item/item";



// Select

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $text;
  width: 100%;
  max-width: 371px;
  z-index: 2;
  height: 50px;
  margin-bottom: 20px;
}
.select-styled {
  border-radius: 6px;
  border: 1px solid #ededed;
  display: flex;
  align-items: center;
  position: absolute; 
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 8px 15px;
  transition: all 0.2s ease-in;

  &:after {
    content:"\e903";
    font-family: 'icomoon' !important;
    font-size: 8px;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  &:hover {
    background-color: darken(white, 1);
  }
  &:active, &.active {
    
    &:after {
      transform: rotate(180deg)
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  margin-top: -4px;
  padding: 0;
  list-style: none;
  background-color: white;
  li {
    margin: 0;
    padding: 12px 0;
    color: $text;
    text-indent: 15px;
      border: 1px solid #ededed;
   border-top: none;
    transition: all 0.15s ease-in;
    &:hover {
      background: darken(white, 1);

    }
    &[rel="hide"] {
      display: none;
    }
  }
}
// 




// Footer :)
@import "../../blocks/footer/footer";

// global changings
.woocommerce ul.products li.product figure .product-wrap .product-images .shop-loop-thumbnail.shop-loop-front-thumbnail{
  margin-top: 30px !important;
}
.woocommerce span.onsale{
  top: -56px !important;
  right: auto;
  left: 0;
}
.product-images{
  .onsale{
    color: transparent !important;
    &:after{
      content: "Акция!";
      background: url(../img/new-br.svg) no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      width: 110px;
      font-family: $OS;
      height: 28px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 12px;
      padding-left: 15px;
      line-height: 1;
      font-weight: 700;
    }
  }
}
.form-flat-select select{
  line-height: 1.2;
}

.woocommerce ul.products li.product figcaption .shop-loop-product-info .info-title {
  padding-bottom: 10px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  font-family: $OS;
}

.woocommerce ul.products li.product figcaption .shop-loop-product-info .info-title .product_title a{
  font-family: $OS;

  &:hover{
    text-decoration: none;
  }
}


input, button{
  -webkit-appearance: none;
}
button{
  border: none;
}
.add_to_wishlist{
  &:hover{
    text-decoration: none;
  }
}
.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist {
  margin-right: -25px;
  right: 50%;
}
.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist .add_to_wishlist {
  background: #2a292b;
  border-radius: 50%;
}

// importing media queries
@import "media";

